* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Arial, sans-serif;
}

nav {
  height: 6rem;
  width: 100vw;
  background-color: #131418;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  z-index: 10;
  justify-content: space-between;
}

/*Styling logo*/
.logo {
  padding: 1vh 1vw;
  text-align: center;
}
.logo img {
  height: 5rem;
  width: 5rem;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 60vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
.nav-links li a {
  text-decoration: none;
  margin: 0 0.7vw;
}
.nav-links li a:hover {
  color: #61dafb;
}
.nav-links li {
  position: relative;
}
.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #61dafb;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}
.nav-links li a:hover::before {
  width: 80%;
}

/*Styling Buttons*/
.login-button {
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;
}
.login-button:hover {
  color: #131418;
  background-color: #f2f5f7;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}
.join-button {
  color: #131418;
  background-color: #61dafb;
  border: 1.5px solid #61dafb;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
.join-button:hover {
  color: #f2f5f7;
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    position: fixed;
    background: #131418;
    height: 90vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.group {
  width: 95%;
  min-height: 100vh;
  padding: 150px 0 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.imgs {
  display: flex;
  align-items: center;
}

.imgList,
.mainImg img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainImg img {
  max-height: 60vh;
  border-radius: 15px;
}

.imgli {
  cursor: pointer;
  display: block;
  margin: 8px;
  width: 80px;
  border-radius: 15px;
  padding: 3px;
  opacity: 0.5;
  transition: width 0.6s, opacity 0.6s;
}

.active {
  width: 90px;
  opacity: 1;
}

.imgli:hover {
  width: 90px;
  opacity: 1;
}

.details h1 {
  font-size: 35px;
  text-align: center;
  padding-bottom: 50px;
}

.details p {
  font-size: 18px;
  padding: 10px;
}

p button {
  background-color: #c2fbd7;
  border-radius: 50px;
  border: none;
  box-shadow: 0 0 1px rgba(25, 25, 25, 0.04), 0 3px 4px rgba(0, 0, 0, 0.1);
  color: #008000;
  cursor: pointer;
  height: 50px;
  padding: 0 25px;
  transition: all 200ms;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section img {
  margin-bottom: 10px;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-copyright {
  font-size: 14px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .mainImg img {
    max-height: 30vh;
    border-radius: 15px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}
